 * {
     border: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Bebas Neue', cursive, sans-serif;
     list-style: none;
 }

 a:link,
 a:visited,
 a:active {
     text-decoration: none;
     color: black;
 }

 /* Estructura */

 .encabezado,
 .pie {
     background-color: white;
 }

 main {
     background-color: darkgreen;
 }

 /* Encabezado */

.encabezado__nav, .pie{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.encabezado__titulo{
    align-self: center;
    font-size: 2rem;
    text-align: center;
}

.bx{
    color: black;
    cursor: pointer;
    font-size: 50px;
}

.encabezado__lista{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(1, 53, 1, 0.904);
    text-align: center;
    transition: all .5s;
}

.encabezado__lista li{
    display: none;
    line-height: 30px;
    margin: 70px 0;
    transition: all .5s;
}
.encabezado__lista a{
    font-size: 2rem;
    color: white;
}

.encabezado__lista li a.active, .encabezado__lista li a:hover{
    color: greenyellow;
    transition: .3s;
}
#check{
    display: none;
}
#check:checked ~ .encabezado__lista{
    height: 100vh;
}
#check:checked ~ .encabezado__lista li{
    display: block;
}

 /* .encabezado {
     display: flex;
     justify-content: space-around;
     height: 15vh;
 }

 .encabezado__lista {
     display: flex;
 }

 .encabezado__nav,
 .encabezado__titulo {
     align-self: center;
 }

 .encabezado__lista li {
     padding: 0px 15px;
     font-size: 1.5rem;
 }

 .encabezado__titulo:hover, .encabezado__lista li:hover {
  transform: scale(1.1);
 
}
.encabezado a:hover{
    color: darkgreen;
}

 .encabezado__titulo {
     font-size: 3rem;
 } */

 

 /* Portada */

 

 /* .portada {
     display: flex;
     align-items: center;
     height: 75vh;
 }

 .portada__texto {
    
     font-size: 5rem;
     padding: 50px;
     text-align: center;
     color: white;
 }

 .portada__img {
     width: 50%;
     object-fit: cover;
     height: 100%;
 } */

.portada{
    background-image:url(../assets/img/imagenindex.jpg);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portada__texto{
    background-color: rgba(172, 172, 172, 0.605);
    color: darkgreen;
font-size: 5rem;
text-align: center;

}
.portada__img{
    display: none;
}

 /* Galeria */

 .galeria {
     height: 100%;
     width: 100vw;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }

 .galeria img {
     width: 300px;
     height: 300px;
 }

 .galeria video {
     width: 300px;
     height: 300px;
 }

 .parrafo-secundario {
     font-size: 2rem;
     padding: 50px;
     text-align: center;
     color: white;
 }

 .tabla {
     background-color: white;
 }

 table,
 th,
 td {
     border: 2px solid black;
 }

 .formulario {
     background-color: white;
     border: 1px solid black;
 }

 .item-formulario {
     border: 1px solid black;
 }

 /* Footer */

 .pie__lista{
    font-size: 2rem;
    justify-content: center;
    text-align: center;
 }
 .pie .bx{
    font-size: 2rem;
 }
 .pie{
    height: 220px;
 }
 /* .pie {
     height: 15vh;
     display: flex;
     justify-content: space-evenly;
 }
 .pie__lista {
    align-self: center;
    display: flex;
 }
 .pie__lista li {
    padding: 5px 30px;
    font-size: 1.3rem;
 }
 i{
    font-size: 2rem;
    padding: 15px;
 } */