@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin titulo {
    text-align: center;
    font-size: 3rem;
    color: $color-complementario;
    background-color: black;
    padding: 20px 0;
}