.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titulo {
        @include titulo();
    }

    &__img {
        height: 50%;
        width: 100%;

        @include tablet {
            width: 50vw;
            height: 100%;
            object-fit: cover;
        }
    }

    &__texto {
        font-size: 2rem;
        text-align: center;
        color: $color-complementario;
        padding: 70px 10px;

        @include tablet {
            font-size: 1.4rem;
            padding: 10px;
        }

        @include desktop {
            font-size: 2.5rem;
        }
    }

    @include tablet {
        flex-direction: row;
        height: auto;
    }
}

.cambio {
    @include tablet {
        flex-direction: row-reverse;
    }
}