.tabla {
    &__contenedor {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        background-color: $color-principal;
    }

    &__tabla {
        background-color: rgba(209, 228, 209, 0.774);
        border: 2px solid black;
        font-size: .9rem;

        th,
        td {
            border: 2px solid black;
        }

        @include tablet {
            margin: 0 100px;
            font-size: 1.5rem;
        }
    }

    &__titulo {
        @include titulo();
    }
}