.pie {
    background-color: $color-complementario;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__lista {
        font-size: 1rem;
        justify-content: center;
        text-align: center;
        padding: 20px;

        @include tablet {
            display: flex;
            width: 80%;
            justify-content: space-around;
            font-size: 1.3rem;
            align-self: center;
        }

        i {
            @include tablet {
                font-size: 2rem;
                padding: 15px;
            }
        }
    }

    .bx {
        font-size: 1rem;
    }

}