.formulario {
    background-color: $color-principal;
    font-size: 1.5rem;
    text-align: center;
    color: $color-complementario;

    @include tablet {

        &__item {
            font-size: 1rem;
        }
    }

    &__label {
        padding: 10px;
    }

    &__elementos {
        display: grid;

        @include tablet {
            padding: 10px 200px;
        }
    }

    &__item {
        border-radius: 3px;
        padding: 5px;
        border: 2px solid black;
    }

    &__titulo {
        @include titulo();
        width: 100%;
    }

    &__boton {
        background-color: gray;
        width: 50%;
        text-align: center;
        border: 3px solid black;
        margin: 20px;
        font-size: 1.5rem;
        justify-self: center;

        &:hover {
            transition: .3s;
            transform: scale(1.1);
            background-color: black;
            color: $color-complementario;
        }
    }
}