.galeria {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;

    &__tarjeta {
        height: 400px;
        width: 100%;
        border-radius: 4px;

        img,
        video {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }

    &__titulo {
        text-align: center;
        color: white;
        font-size: 3rem;
        padding: 20px;
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 100px;
    }
}